.slider {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, var(--img-width));
  grid-template-rows: auto;
  justify-items: center;
  justify-content: space-between;
  &__round-button {
    width: 4rem;
    height: 4rem;
    background: var(--stroke-color);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    transform: translate(-50%, 0);
    box-shadow: 1px 2px 3px 0 var(--secondary-text);
    &-arrow {
      position: absolute;
      left: 19%;
      top: 33%;
      transform: translate(-50%, -50%);
    }
  }
  &__content {
    width: var(--img-width);
    display: flex;
    flex-direction: column;
    position: relative;
    &_img {
      width: var(--img-width);
      aspect-ratio: 1/1;
    }
    &_link {
      font-weight: var(--regular);
      font-size: 2.4rem;
      line-height: 2.8rem;
    }
    &_link-main {
      color: var(--primary-light);
      margin: 2.4rem 0;
    }
    &_link-secondary {
      color: var(--secondary-text);
    }
  }
}
.slider-content-mask {
  width: var(--img-width);
  aspect-ratio: 1 / 1;
  display: block;
  position: relative;
  &_shadow {
    height: var(--img-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0.4rem;
    background: rgba(56, 56, 56, 0.4);
    opacity: 0;
    box-shadow: inset 0 4px 70px rgba(56, 56, 56, 0.5);
    transition: opacity 300ms linear 300ms;
    &:hover {
      opacity: 1;
    }
  }
}
.arrow-figure {
  &__line {
    height: 0.9rem;
    border-right: 0.2rem solid var(--text-color);
    padding: 0.7rem;
    position: absolute;
  }
  &__top {
    border-bottom-right-radius: 3px;
    transform: rotate(-40deg);
  }
  &__bottom {
    border-top-right-radius: 3px;
    transform: rotate(40deg);
  }
}

@include netbook {
  .slider {
    &__content {
      &_link {
        font-weight: var(--regular);
        font-size: 2.3rem;
        line-height: 2.8rem;
      }
    }
  }
}

@include tablet {
  .slider {
    grid-template-columns: repeat(3, var(--img-width));
    &__content {
      &_link {
        font-size: 2.2rem;
      }
      &_item-4 {
        display: none;
      }
    }
    &__round-button {
      width: 3rem;
      height: 3rem;
      &-arrow {
        left: 20%;
      }
    }
  }
  .slider-content-mask {
    &_shadow {
      &:hover {
        display: none;
      }
    }
  }
  .arrow-figure {
    &__line {
      padding: 0.5rem;
    }
  }
}

@include mobile-sm {
  .slider {
    &__content {
      //width: 100%;
      &_link {
        font-size: 1.2rem;
        line-height: 1.4rem;
      }
      &_img {
        //width: 100%;
      }
      &_link-main {
        margin: 0.8rem 0 0.4rem;
      }
    }
  }
}

@include mobile-xs {
  .slider {
    grid-template-columns: repeat(2, var(--img-width));
    &__content {
      &_item-3 {
        display: none;
      }
    }
  }
}
