mixin features
  section.features.container.features__container.col-xl-12.col-lg-12.col-md-12.col-sm-6.col-xs-6
    h2.features__title.title What do we offer
    .features__content
      .features__content-item.col-xl-3.col-lg-3.col-md-6.col-sm-6.col-xs-6
        +svg('features__content-icon features__content-icon_support','#support')
        p.features__content-text Support 24/7
      .features__content-item.col-xl-3.col-lg-3.col-md-6.col-sm-6.col-xs-6
        +svg('features__content-icon features__content-icon_communicate','#communicate')
        p.features__content-text Communicate directly
      .features__content-item.col-xl-3.col-lg-3.col-md-6.col-sm-6.col-xs-6
        +svg('features__content-icon features__content-icon_book','#book')
        p.features__content-text Book online
      .features__content-item.col-xl-3.col-lg-3.col-md-6.col-sm-6.col-xs-6
        +svg('features__content-icon features__content-icon_reviews','#reviews')
        p.features__content-text Real guest reviews