mixin footer
  footer.footer._bg-dark
    .footer__container.container.col-xl-12.col-lg-6.col-md-12.col-sm-6.col-xs-6
      figure.footer__logo-container.container
        svg.footer__logo
          use(href='#logo')
      .footer__content-container.container.col-xl-12.col-lg-12.col-md-12.col-sm-6.col-xs-6
        .footer__content.col-xl-3.col-lg-2.col-md-4.col-sm-2.col-xs-1
          ul.footer__content-title
            | About
            li.footer__content-list
              a.footer__content-link.link(href='#') How Triphouse works
            li.footer__content-list
              a.footer__content-link.link(href='#') Careers
            li.footer__content-list
              a.footer__content-link.link(href='#') Privacy
            li.footer__content-list
              a.footer__content-link.link(href='#') Terms
        .footer__content.col-xl-3.col-lg-2.col-md-4.col-sm-2.col-xs-2
          ul.footer__content-title
            | Property types
            li.footer__content-list
              a.footer__content-link.link(href='#') Guest houses
            li.footer__content-list
              a.footer__content-link.link(href='#') Hotels
            li.footer__content-list
              a.footer__content-link.link(href='#') Apartments
            li.footer__content-list
              a.footer__content-link.link(href='#') Villas
            li.footer__content-list
              a.footer__content-link.link(href='#') Holiday homes
            li.footer__content-list
              a.footer__content-link.link(href='#') Hostels
        .footer__content.col-xl-3.col-lg-2.col-md-4.col-sm-2.col-xs-1
          ul.footer__content-title
            | Support
            li.footer__content-list
              a.footer__content-link.link(href='#') Contact Customer Service
            li.footer__content-list
              a.footer__content-link.link(href='#') FAQ
      p.footer__copy
        | &copy; 2022Triphouse, Inc. All rights reserved