mixin header()
  header.header.container.header__container.col-xl-12.col-lg-12.col-md-12.col-xs-6
    svg.header__logo.logo
      use(href='#logo')
    nav.header__menu
      +link('#', 'Stays')(class='header__menu-link')
      +link('#', 'Attractions')(class='header__menu-link')
      a.header__menu-link(href='#')
        svg.header__menu-icon.header__menu-icon_night-theme
          use(href='#night')
      a.header__menu-link(href='#')
        svg.header__menu-icon.header__menu-icon_account
          use(href='#account')
      svg.header__menu-icon.header__menu-icon_menu
        use(href='#menu')