mixin hotels-preffered
  section.hotels-preferred._bg-main
    .hotels-preferred__container.container.col-xl-12.col-lg-12.col-md-12.col-sm-6.col-xs-6
      h2.hotels-preferred__title.title Homes guests loves
      +slider('hotels')
