mixin reviews
  section.reviews
    .reviews__container.container.col-xl-12.col-lg-12.col-md-12.col-sm-6.col-xs-6
      h2.reviews__title.title Guests reviews
      .reviews__slider
        +slider('reviews-slider')