mixin hotels-preferred
  .hotels-preferred__slider-content.slider__content.hotels-preferred__slider-content_item-1.slider__content_item-1
    a.hotels-preferred__slider-content_link(href='#')
      +img('../../assets/images/russia_hotel_leopold.png', 'Hotel Leopold, Russia, Saint Petersburg', 'hotels-preferred__slider-content_img slider__content_img')
    +link('#', 'Hotel Leopold')(class='hotels-preferred__slider-content_link slider__content_link slider__content_link-main')
    +link('#', 'Saint Petersburg, Russia')(class='hotels-preferred__slider-content_link slider__content_link slider__content_link-secondary')
  .hotels-preferred__slider-content.slider__content.hotels-preferred__slider-content_item-2.slider__content_item-2
    a.hotels-preferred__slider-content_link(href='#')
      +img('../../assets/images/spain_apartment_sunshine.png', 'Apartment Sunshine, Santa Cruz de Tenerife, Spain', 'hotels-preferred__slider-content_img slider__content_img')
    +link('#', 'Apartment Sunshine')(class='hotels-preferred__slider-content_link slider__content_link slider__content_link-main')
    +link('#', 'Santa Cruz de Tenerife, Spain')(class='hotels-preferred__slider-content_link slider__content_link slider__content_link-secondary')
  .hotels-preferred__slider-content.slider__content.hotels-preferred__slider-content_item-3.slider__content_item-3
    a.hotels-preferred__slider-content_link(href='#')
      +img('../../assets/images/slowakia_villa_kunerad.png', 'Villa Kunerad, Vysokie Tatry, Slowakia', 'hotels-preferred__slider-content_img slider__content_img')
    +link('#', 'Villa Kunerad')(class='hotels-preferred__slider-content_link slider__content_link slider__content_link-main')
    +link('#', 'Vysokie Tatry, Slowakia')(class='hotels-preferred__slider-content_link slider__content_link slider__content_link-secondary')
  .hotels-preferred__slider-content.slider__content.hotels-preferred__slider-content_item-4.slider__content_item-4
    a.hotels-preferred__slider-content_link(href='#')
      +img('../../assets/images/germany_hostel_friendship.png', 'Hostel Friendship, Berlin, Germany', 'hotels-preferred__slider-content_img slider__content_img')
    +link('#', 'Hostel Friendship')(class='hotels-preferred__slider-content_link slider__content_link slider__content_link-main')
    +link('#', 'Berlin, Germany')(class='hotels-preferred__slider-content_link slider__content_link slider__content_link-secondary')