mixin top-section
  section.top-section.container.col-xl-12.col-lg-12.col-md-12.col-sm-6.col-xs-6
    h1.top-section__slogan
      | Discover stays
      br
      |             to live, work or just relax
    .top-section__form-container
      fieldset.top-section__form-fieldset
        form.top-section__form(action='')
          .top-section__form-item-group
            .top-section__form-item
              label.top-section__form-label._label-destination(for='search-destination') Your destination or hotel name
              div
                svg.top-section__form-icon
                  use(href='#search')
              input#search-destination.top-section__form-item-content.top-section__form-item-text._input._input-destination(type='search' name='search-destination' placeholder='New-York' required='')
          .top-section__form-item-group
            .top-section__form-item
              label.top-section__form-label._label-check-in(for='check-in') Check-in
              select#check-in.top-section__form-item-content.top-section__form-item-text._select._select-check-in(name='check-in')
                option(disabled='' selected='') Tue 15 Sept
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
            p.top-section__form-item-text._blank &mdash;
            .top-section__form-item
              label.top-section__form-label._label-check-out(for='check-out') Check-out
              select#check-out.top-section__form-item-content.top-section__form-item-text._select._select-check-out(name='check-out')
                option(disabled='' selected='') Sat 19 Sept
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
          .top-section__form-item-group.top-section__form-item-group_rooms
            .top-section__form-item._form-item-adults
              select#adults.top-section__form-item-content.top-section__form-item-text._select._select-adults._text-left(name='adults')
                option(disabled='' selected='') 2
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
              label.top-section__form-label._label-adults(for='adults') Adults
            .top-section__form-item._form-item-children
              select#children.top-section__form-item-content.top-section__form-item-text._select._select-children._text-left(name='children')
                option(disabled='' selected='') 0
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
              label.top-section__form-label._label-children(for='children') Children
            .top-section__form-item._form-item-rooms
              select#rooms.top-section__form-item-content.top-section__form-item-text._select._select-rooms._text-left(name='rooms')
                option(disabled='' selected='') 1
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
              label.top-section__form-label._label-rooms(for='rooms') Rooms
          .top-section__form-item-group
            +button('Search', 'top-section__form-item top-section__form-button top-section__form-button-text', 'submit')
    .top-section__markets.markets.container
      .markets__item
        a.markets__item-link(href='#')
          +svg('markets__item-icon markets__item-icon_google-play','#google-play')
      .markets__item
        a.markets__item-link(href='#')
          +svg('markets__item-icon markets__item-icon_app-store','#app-store')
