.col-xl-1 {
  width: var(--col-width);
}

.col-xl-2 {
  width: calc(var(--col-width) * 2);
}

.col-xl-3 {
  width: 25%;
}

.col-xl-4 {
  width: calc(var(--col-width) * 4);
}

.col-xl-5 {
  width: calc(var(--col-width) * 5);
}

.col-xl-6 {
  width: 50%;
}

.col-xl-7 {
  width: calc(var(--col-width) * 7);
}

.col-xl-8 {
  width: calc(var(--col-width) * 8);
}

.col-xl-9 {
  width: 75%;
}

.col-xl-10 {
  width: calc(var(--col-width) * 10);
}

.col-xl-11 {
  width: calc(var(--col-width) * 11);
}

.col-xl-12 {
  width: 100%;
}

.top-section {
  &__form-container {
    margin-bottom: var(--delimiter-section);
    padding: 0;
    height: 6.5rem;
  }
  &__form-fieldset {
    border: none;
    height: 100%;
    padding: 0;
  }
  &__form {
    height: 100%;
    background-color: var(--white);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 38% 21% 25.1% 16%;
    grid-template-rows: auto;
    &-icon {
      color: var(--secondary-text);
      display: none;
      position: absolute;
      z-index: 1;
    }
  }
  &__form-item-group {
    display: flex;
    align-items: center;
    position: relative;
    &:nth-child(2) {
      border: 0.3rem solid var(--accent-yellow);
      border-radius: 8px;
    }
  }
  &__form-item {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: var(--white);
    border: none;
    border-radius: 8px;
    &-content {
      height: 100%;
      width: 100%;
      position: relative;
      border: none;
      border-radius: 8px;
      outline: none;
      padding: 0;
      background-color: var(--white);
    }
    &-text {
      font-weight: var(--regular);
      font-size: 1.8rem;
      line-height: 2.1rem;
      color: var(--text-color);
    }
  }
  &__form-label {
    font-size: 1.8rem;
    font-weight: var(--regular);
    line-height: 2.1rem;
    color: var(--text-color);
    position: absolute;
    z-index: 1;
  }
  &__form-button {
    background-color: var(--primary-light);
    color: var(--white);
    font-size: 2.4rem;
    line-height: 2.8rem;
    &:hover {
      background: linear-gradient(to right, var(--primary-light), var(--primary-dark));
      transition: background 300ms linear 300ms;
    }
  }
}

._input::-webkit-input-placeholder {
  color: var(--text-color);
}

._input-destination {
  padding-left: 2.4rem;
}

._select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
}

._select-adults {
  padding-left: var(--unit-xs);
}

._select-rooms {
  padding-left: var(--unit-xs);
}

._label-destination {
  color: var(--white);
  bottom: 9rem;
  left: 2.4rem;
}

._label-check-in {
  color: var(--white);
  bottom: 9rem;
  left: 0.8rem;
  &:after {
    content: '—';
    position: absolute;
    right: -1.7rem;
  }
}

._label-check-out {
  color: var(--white);
  bottom: 9rem;
  left: -2.4rem;
}

._label-adults {
  bottom: 2.3rem;
  left: 2.3rem;
  &:after {
    content: '—';
    position: absolute;
    right: -1.8rem;
  }
}

._label-children {
  bottom: 2.3rem;
  left: 1.5rem;
  &:after {
    content: '—';
    position: absolute;
    right: -1.8rem;
  }
}

._label-rooms {
  bottom: 2.3rem;
  left: 2.3rem;
}

._text-left {
  text-align: left;
}

.features {
  order: 2;
  &__container {
    flex-wrap: wrap;
    margin-bottom: var(--delimiter-section);
  }
  &__title {
    margin: var(--delimiter-section) 0 var(--title-indent);
    &:after {
      content: '';
      display: block;
      width: 10rem;
      height: 0.4rem;
      background: var(--accent-yellow);
      position: absolute;
      top: 7rem;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--unit-xs) * -1);
    &-item {
      padding-left: var(--unit-xs);
      padding-right: var(--unit-xs);
      height: 17.6rem;
      @include flex_between;
      flex-direction: column;
      align-items: center;
    }
    &-icon {
      max-width: 10rem;
      max-height: 9.2rem;
      color: var(--primary-light);
      &_book {
        padding-top: 1.3rem;
      }
      &_communicate {
        padding-top: 0.8rem;
      }
    }
    &-text {
      font-weight: var(--regular);
      font-size: 2.4rem;
      line-height: 2.8rem;
      color: var(--text-color);
      text-align: center;
    }
  }
}

.hotels-preferred {
  order: 3;
  &__container {
    padding-bottom: var(--delimiter-section);
    position: relative;
  }
  &__title {
    padding-top: var(--delimiter-section);
    margin-bottom: var(--title-indent);
  }
  &__slider {
    padding-bottom: var(--delimiter-section);
    position: relative;
    &-round-button {
      position: absolute;
      left: calc(var(--container-width) - (var(--unit-sm) * 2));
      top: calc(var(--img-width) / 2);
    }
  }
}

//.slider {
//  padding: 0;
//  display: grid;
//  grid-template-columns: repeat(4, var(--img-width));
//  grid-template-rows: auto;
//  justify-items: center;
//  justify-content: space-between;
//  &__round-button {
//    width: 4rem;
//    height: 4rem;
//    background: var(--stroke-color);
//    border-radius: 50%;
//    cursor: pointer;
//    position: absolute;
//    z-index: 1;
//    transform: translate(-50%, -50%);
//    box-shadow: 2px 0 3px 0 var(--secondary-text);
//    &-arrow {
//      position: absolute;
//      left: 19%;
//      top: 33%;
//      transform: translate(-50%, -50%);
//    }
//  }
//  &__content {
//    width: var(--img-width);
//    display: flex;
//    flex-direction: column;
//    position: relative;
//    &_img {
//      width: var(--img-width);
//      aspect-ratio: 1/1;
//    }
//    &_link {
//      font-weight: var(--regular);
//      font-size: 2.4rem;
//      line-height: 2.8rem;
//    }
//    &_link-main {
//      color: var(--primary-light);
//      margin: 2.4rem 0;
//    }
//    &_link-secondary {
//      color: var(--secondary-text);
//    }
//  }
//}
//
//.slider-content-mask {
//  width: var(--img-width);
//  aspect-ratio: 1 / 1;
//  display: block;
//  position: relative;
//  &_shadow {
//    height: var(--img-width);
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    justify-content: center;
//    position: absolute;
//    top: 0;
//    left: 0;
//    right: 0;
//    bottom: 0.4rem;
//    background: rgba(56, 56, 56, 0.4);
//    opacity: 0;
//    box-shadow: inset 0 4px 70px rgba(56, 56, 56, 0.5);
//    transition: opacity 300ms linear 300ms;
//    &:hover {
//      opacity: 1;
//    }
//  }
//}
//
//.arrow-figure {
//  &__line {
//    height: 0.9rem;
//    border-right: 0.2rem solid var(--text-color);
//    padding: 0.7rem;
//    position: absolute;
//  }
//  &__top {
//    border-bottom-right-radius: 3px;
//    transform: rotate(-40deg);
//  }
//  &__bottom {
//    border-top-right-radius: 3px;
//    transform: rotate(40deg);
//  }
//}

.destinations {
  order: 4;
  &__title {
    padding-top: var(--delimiter-section);
    margin-bottom: var(--title-indent);
  }
  &__buttons {
    width: calc((var(--container-width) / 2) - (var(--unit-xs)));
    height: 6.4rem;
    margin-bottom: 6.5rem;
    background-color: var(--stroke-color);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    &-button {
      height: 100%;
      border: none;
      border-radius: 8px;
      background-color: var(--stroke-color);
      font-size: 2.4rem;
      font-weight: var(--regular);
      line-height: 2.8rem;
      color: var(--text-color);
      &:nth-child(3):after {
        content: ' of interest';
      }
      &:focus {
        background-color: var(--primary-light);
        color: var(--white);
      }
    }
  }
  &__slider {
    margin-bottom: var(--delimiter-section);
    position: relative;
    &-round-button {
      position: absolute;
      left: calc((var(--container-width) / 2) - (var(--unit-sm)));
      bottom: calc(var(--title-indent) * -1);
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &-booking-button {
      height: 4.8rem;
      width: calc(var(--img-width) - 56%);
    }
    &-content-link {
      margin-bottom: 0;
    }
  }
}

.button__main {
  background-color: var(--white);
  border: 0.1rem solid var(--primary-light);
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: var(--regular);
  line-height: 2.1rem;
  text-align: center;
  color: var(--primary-light);
  cursor: pointer;
}

.sign-up {
  order: 5;
  &__container {
    background: var(--bg-main);
    height: 200px;
    position: relative;
    margin-top: var(--title-indent);
    margin-bottom: var(--delimiter-section);
  }
  &__logo-box {
    width: 5.8rem;
    height: 5.8rem;
    padding: 0.3rem;
    background-color: var(--primary-light);
    border-radius: 4px;
    position: absolute;
    display: none;
    &-icon {
      color: var(--white);
    }
  }
  &__round-figure {
    width: 8.6rem;
    height: 8.6rem;
    background-color: var(--white);
    border-radius: 100%;
    position: absolute;
    top: 5.7rem;
    left: 2.4rem;
    &-icon {
      color: var(--primary-light);
      position: absolute;
      z-index: 1;
      &_user {
        height: 44px;
        aspect-ratio: 1/1;
        top: 25%;
        left: 16%;
      }
      &_plus {
        width: 19px;
        aspect-ratio: 1/1;
        top: 54%;
        left: 57%;
      }
    }
  }
  &__close {
    cursor: pointer;
    position: absolute;
    top: 3.6rem;
    right: 5.4rem;
    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 3.6rem;
      height: 0.2rem;
      background: var(--secondary-text);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:before {
      transform: rotate(45deg);
    }
  }
  &__text {
    font-size: 2.4rem;
    font-weight: var(--medium);
    line-height: 2.8rem;
    color: var(--text-color);
    position: absolute;
    top: 5.1rem;
    left: 13.4rem;
    &-mobile {
      display: none;
    }
  }
  &__link {
    font-size: 1.4rem;
    font-weight: var(--medium);
    line-height: 1.6rem;
    color: var(--primary-light);
    position: absolute;
    display: none;
  }
  &__button {
    width: 12.8rem;
    height: 4.8rem;
    position: absolute;
    top: 10rem;
    left: 13.4rem;
  }
}

.reviews {
  order: 6;
  &__title {
    margin-bottom: var(--title-indent);
  }
  &__slider {
    grid-template-columns: repeat(3, var(--img-width-lg));
    margin-bottom: var(--delimiter-section);
    position: relative;
    &-buttons {
      display: none;
      &_sm-button {
        width: 0.8rem;
        height: 0.8rem;
        border: 1px solid var(--text-color);
        border-radius: 100%;
        &:focus {
          background-color: var(--text-color);
        }
      }
    }
    &-round-button {
      position: absolute;
      left: calc(var(--container-width) - (var(--unit-sm)) * 2);
      top: calc(var(--img-width-lg) / 2);
    }
    &-content {
      width: var(--img-width-lg);
      background-color: var(--bg-main);
      position: relative;
      &_img {
        width: var(--img-width-lg);
      }
      &_price {
        width: var(--img-width-lg);
        height: calc((var(--img-width-lg) / 100) * 12);
        padding-left: calc(var(--unit-xs) * 3);
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: var(--medium);
        line-height: 2.1rem;
        color: var(--white);
        box-shadow: inset 0 82px 0 rgb(56 56 56 / 70%);
        position: absolute;
        top: calc(var(--img-width-lg) - 6.2%);
        &:before {
          content: 'From';
          margin-right: 0.4rem;
          font-weight: var(--regular);
        }
      }
      &_link {
        font-size: 1.8rem;
        font-weight: var(--regular);
        line-height: 2.1rem;
        color: var(--primary-light);
      }
      &_text {
        padding: 0 2.4rem 2.4rem;
        font-size: 1.8rem;
        font-weight: var(--regular);
        line-height: 2.1rem;
        color: var(--text-color);
      }
    }
  }
  &__hotel-info {
    height: 5.7rem;
    padding: 0 2.4rem;
    margin-top: 2rem;
    @include flex_between;
    align-items: stretch;
    &-location {
      @include flex_between;
      flex-direction: column;
      &_name {
        font-weight: var(--medium);
      }
    }
    &-rating {
      @include flex_between;
      flex-direction: column;
      align-items: flex-end;
      &_score {
        width: 4.8rem;
        height: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-dark);
        border-radius: 8px;
        color: var(--white);
        font-family: 'Open Sans', sans-serif;
        font-size: 1.8rem;
        font-weight: var(--bold);
        line-height: 2.5rem;
      }
      &_numbers {
        font-size: 1.4rem;
        font-weight: var(--regular);
        line-height: 1.6rem;
        color: var(--secondary-text);
      }
    }
  }
  &__user {
    &-info {
      margin: 3rem 3rem 2.4rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &-icon {
      width: 5.3rem;
      aspect-ratio: 1/1;
      color: var(--secondary-text);
    }
    &-account {
      height: 5.4rem;
      font-size: 1.8rem;
      padding-left: 2.4rem;
      color: var(--text-color);
      position: relative;
      &_country {
        color: var(--secondary-text);
        position: absolute;
        top: 3rem;
      }
      &_flag-icon {
        width: 1.7rem;
        aspect-ratio: 4/3;
      }
    }
  }
}

.footer {
  order: 7;
  &__logo-container {
    display: none;
  }
  &__logo {
    color: var(--white);
  }
  &__content-container {
    padding: var(--delimiter-section) var(--delimiter-section) 0 0;
    @include flex_between;
  }
  &__content {
    font-size: 2rem;
    font-weight: var(--regular);
    line-height: 2.3rem;
    color: var(--white);
    &-title {
      font-weight: var(--medium);
      padding: 0;
    }
    &-list {
      list-style: none;
      margin-top: 2.4rem;
      padding: 0;
      font-weight: var(--regular);
      flex-wrap: wrap;
    }
    &-link {
      color: var(--white);
    }
  }
  &__copy {
    margin-top: 6.4rem;
    font-weight: var(--regular);
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 0 0 var(--delimiter-section) 0;
    color: var(--white);
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  /*For netbooks*/

  :root {
    --col-width: calc(100% / 12);
    --container-width: 100.8rem;
    --delimiter-section: 8rem;
    --img-width: 22rem;
    --img-width-lg: 32rem;
  }

  .col-lg-1 {
    width: var(--col-width);
  }

  .col-lg-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-lg-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: calc(var(--col-width) * 7);
  }

  .col-lg-8 {
    width: calc(var(--col-width) * 8);
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: calc(var(--col-width) * 10);
  }

  .col-lg-11 {
    width: calc(var(--col-width) * 11);
  }

  .col-lg-12 {
    width: 100%;
  }

  .container {
    width: var(--container-width);
  }

  .top-section__form-item-text {
    font-size: 1.5rem;
  }

  .top-section__form-label {
    font-size: 1.5rem;
  }

  ._label-check-in:after {
    right: -1.3rem;
  }

  ._label-check-out {
    bottom: 9rem;
    left: -1.5rem;
  }

  ._label-adults {
    bottom: 2.1rem;
    left: 2rem;
    &:after {
      right: -1.5rem;
    }
  }

  ._label-children {
    bottom: 2.1rem;
    left: 1.5rem;
    &:after {
      right: -1.5rem;
    }
  }

  ._label-rooms {
    bottom: 2.1rem;
    left: 2rem;
  }

  .top-section__form-button-text {
    font-size: 2.2rem;
  }

  .features__content-text {
    font-size: 2.3rem;
  }

  .hotels-preferred__title {
    margin-bottom: 6.5rem;
  }

  .slider__content_link {
    font-weight: var(--regular);
    font-size: 2.3rem;
    line-height: 2.8rem;
  }

  .reviews__slider-content_price {
    top: calc(var(--img-width-lg) - 5.4%);
  }

  .footer__content {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1024px) {
  /*For tablets*/
  :root {
    --col-width: calc(100% / 12);
    --container-width: 75.2rem;
    --delimiter-section: 4rem;
    --title-indent: 4rem;
    --img-width: 23rem;
    --img-width-lg: 35rem;
    --unit-sm: 1.6rem;
  }

  .col-md-1 {
    width: var(--col-width);
  }

  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }

  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: calc(var(--col-width) * 10);
  }

  .col-md-11 {
    width: calc(var(--col-width) * 11);
  }

  .col-md-12 {
    width: 100%;
  }

  .container {
    width: var(--container-width);
  }

  .title {
    font-size: 3.6rem;
  }

  .top-section__form-container {
    margin-bottom: 2rem;
    height: auto;
  }

  .top-section__form-fieldset {
    background-color: var(--accent-yellow);
    border: 0.2rem solid var(--accent-yellow);
  }

  .top-section__form {
    background-color: var(--accent-yellow);
    grid-template-columns: auto;
  }

  .top-section__form-icon {
    width: 1.6rem;
    height: 1.6rem;
    display: block;
    bottom: 1.4rem;
    left: 1.2rem;
  }

  .top-section__form-item-group:nth-child(2) {
    border: none;
  }

  .top-section__form-item {
    height: 6rem;
    border: 0.4rem solid var(--accent-yellow);
    border-radius: 8px;
  }

  .top-section__form-item-content {
    padding: 0 0 0.6rem 1rem;
    display: flex;
    align-items: flex-end;
    text-align: left;
  }

  .top-section__form-item-text {
    font-weight: var(--medium);
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  ._blank {
    display: none;
  }

  ._form-item-adults {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  ._form-item-children {
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 0.4rem 0;
  }

  ._form-item-rooms {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  ._input::-webkit-input-placeholder {
    color: transparent;
  }

  ._select-children {
    border-left: 0.1rem solid var(--secondary-text);
    border-right: 0.1rem solid var(--secondary-text);
    border-radius: 0;
    padding-bottom: 0.2rem;
  }

  .top-section__form-label {
    font-size: 1.6rem;
    line-height: 1.5rem;
  }

  .top-section__form-button-text {
    font-size: 1.9rem;
    font-weight: var(--medium);
    line-height: 2.2rem;
  }

  ._label-destination {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: var(--medium);
    color: var(--text-color);
    bottom: 1.2rem;
    left: 3.6rem;
  }

  ._label-check-in {
    bottom: 3rem;
    left: 1.2rem;
    color: var(--text-color);
    &:after {
      display: none;
    }
  }

  ._label-check-out {
    bottom: 3rem;
    left: 1.2rem;
    color: var(--text-color);
  }

  ._label-adults {
    bottom: 3rem;
    left: 1.2rem;
    &:after {
      display: none;
    }
  }

  ._label-children {
    bottom: 3rem;
    left: 1.2rem;
    &:after {
      display: none;
    }
  }

  ._label-rooms {
    bottom: 3rem;
    left: 1.2rem;
  }

  .top-section__form-button-text {
    font-weight: var(--medium);
  }

  .features__container {
    margin-bottom: var(--delimiter-section);
  }

  .features__title:after {
    display: none;
  }

  .features__content-item {
    height: 15rem;
    margin-bottom: 4rem;
    padding: 0;
  }

  .features__content-icon {
    max-height: 8rem;
  }

  .features__content-text {
    font-size: 2.2rem;
  }

  .hotels-preferred__title {
    margin-bottom: var(--delimiter-section);
  }

  .slider {
    grid-template-columns: repeat(3, var(--img-width));
  }

  .slider__content_item-4 {
    display: none;
  }

  .slider__round-button {
    width: 3rem;
    height: 3rem;
  }

  .slider__round-button-arrow {
    left: 20%;
  }

  .arrow-figure__line {
    padding: 0.5rem;
  }

  .slider__content_link {
    font-size: 2.2rem;
  }

  .destinations__buttons {
    width: calc(var(--container-width) - (var(--unit-sm) * 2));
    height: 6.4rem;
    margin-bottom: calc(var(--unit-xs) * 3);
    background-color: transparent;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--unit-sm);
  }

  .destinations__buttons-button {
    background-color: var(--white);
    border: 0.1rem solid var(--stroke-color);
    border-radius: 8px;
  }

  .destinations__slider-round-button {
    left: calc(var(--container-width) - (var(--unit-sm) * 2));
    top: calc(var(--img-width) / 2);
    bottom: 0;
    transform: translate(-50%, -50%) rotate(0deg);
  }

  .slider-content-mask_shadow:hover {
    display: none;
  }

  .reviews__slider {
    grid-template-columns: repeat(2, var(--img-width-lg));
  }

  .reviews__slider-content_item-3 {
    display: none;
  }

  .reviews__slider-content_price {
    top: calc(var(--img-width-lg) - 6%);
  }

  .reviews__slider-content_link {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .reviews__hotel-info {
    margin-top: var(--unit-sm);
  }

  .reviews__hotel-info-rating_score {
    font-size: 1.6rem;
  }

  .reviews__hotel-info-rating_numbers {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .reviews__user-info {
    margin-top: var(--unit-sm);
    margin-bottom: var(--unit-sm);
  }

  .reviews__user-icon {
    width: 5rem;
  }

  .reviews__user-account {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .reviews__slider-content_text {
    font-size: 1.6rem;
  }

  .footer__content-container {
    padding: 0;
  }

  .footer__logo-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .footer__logo {
    max-width: 9.8rem;
    max-height: 1.9rem;
  }

  .footer__content-title {
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    text-decoration-line: underline;
  }

  .footer__content-list {
    display: none;
  }

  .footer__copy {
    text-align: center;
    padding-bottom: 4rem;
    margin-top: 3.2rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  /*For mobile phones*/

  :root {
    --col-width: calc(100% / 6);
    --container-width: 91%;
    --delimiter-section: 4rem;
    --img-width: 14.5rem;
    --img-width-lg: 40rem;
    --unit-sm: 1.6rem;
  }

  .col-sm-1 {
    width: var(--col-width);
  }

  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-sm-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-sm-6 {
    width: calc(var(--col-width) * 6);
  }

  .container {
    width: var(--container-width);
    padding: 0;
  }

  .title {
    font-size: 2.8rem;
    line-height: 3.3rem;
  }

  .top-section__form-item {
    height: 5.8rem;
  }

  .top-section__form-item-text {
    font-weight: var(--medium);
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .top-section__form-label {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  ._label-destination {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  ._label-check-in {
    bottom: 2.5rem;
    left: 1rem;
  }

  ._label-check-out {
    bottom: 2.5rem;
    left: 1rem;
  }

  ._label-adults {
    bottom: 2.7rem;
    left: 1.2rem;
  }

  ._label-children {
    bottom: 2.7rem;
    left: 1.2rem;
  }

  ._label-rooms {
    bottom: 2.7rem;
    left: 1.2rem;
  }

  .top-section__form-button-text {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }

  .features__container {
    margin-bottom: var(--delimiter-section);
  }

  .features__title {
    margin: 2.4rem 0 3.6rem;
  }

  .features__content {
    flex-direction: column;
    align-content: center;
    margin: 0;
  }

  .features__content-item {
    height: 10.4rem;
    margin-bottom: 3rem;
    @include flex_between;
    flex-direction: column;
    align-items: center;
  }

  .features__content-item:last-child {
    margin-bottom: 0;
  }

  .features__content-icon {
    max-width: 7rem;
    /*width: 100%;*/
    max-height: 6.4rem;
    aspect-ratio: 1/1;
    padding: 0;
  }

  .features__content-text {
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
  }

  .hotels-preferred__title {
    margin-bottom: 3.2rem;
  }

  .hotels-preferred__slider {
    padding-bottom: var(--delimiter-section);
  }

  .slider__content_item-4 {
    display: none;
  }

  .hotels-preferred__slider-round-button {
    left: calc(var(--container-width) + 9%);
    width: 2.8rem;
    height: 2.8rem;
  }

  .slider__content_link {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .slider__content_link-main {
    margin: 0.8rem 0 0.4rem;
  }

  .destinations__title {
    margin-bottom: 3.2rem;
  }

  .destinations__buttons {
    min-width: var(--container-width);
    width: auto;
    height: 3.2rem;
    margin-bottom: calc(var(--unit-xs) * 3);
    border-radius: 4px;
    background-color: transparent;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--unit-sm);
  }

  .destinations__buttons-button {
    font-size: 1.9rem;
    line-height: 2.2rem;
    &:nth-child(3):after {
      display: none;
    }
  }

  .destinations__slider-round-button {
    left: calc(var(--container-width) + 9%);
    width: 2.8rem;
    height: 2.8rem;
    top: calc(var(--img-width) / 2);
    bottom: 0;
    transform: translate(-50%, -50%) rotate(0deg);
  }

  .sign-up {
    order: 6;
  }

  .sign-up__container {
    height: 10.6rem;
    background-color: transparent;
    margin: 0;
  }

  .sign-up__logo-box {
    display: flex;
    top: 24px;
    left: 33px;
  }

  .sign-up__round-figure {
    display: none;
  }

  .sign-up__close {
    top: 50%;
    right: 0;
    left: -4px;
    &:after,
    &:before {
      width: 2.5rem;
    }
  }

  .sign-up__text {
    flex-wrap: wrap;
    font-size: 1.2rem;
    line-height: 1.4rem;
    top: 4rem;
    left: 10.4rem;
  }

  .sign-up__text-desktop {
    display: none;
  }

  .sign-up__text-mobile {
    display: block;
  }

  .sign-up__link {
    display: block;
    right: -1.6rem;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .sign-up__button {
    display: none;
  }

  .reviews {
    background-color: var(--bg-main);
    order: 5;
  }

  .reviews__title {
    padding-top: var(--delimiter-section);
    margin-bottom: 3.2rem;
  }

  .reviews__slider {
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }

  .reviews__slider-round-button {
    display: none;
  }

  .reviews__slider-content_item-2 {
    display: none;
  }

  .reviews__slider-content_price {
    display: none;
  }

  .reviews__slider-content_link {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .reviews__hotel-info {
    height: auto;
    padding: 0;
    margin-top: 1.2rem;
  }

  .reviews__hotel-info-rating {
    gap: 0.4rem;
  }

  .reviews__hotel-info-rating_score {
    width: 3.9rem;
    height: 2.6rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .reviews__user-info {
    margin: 1.2rem 0 1.2rem 0.4rem;
    align-items: stretch;
  }

  .reviews__user-account {
    padding-left: 1.2rem;
  }

  .reviews__user-icon {
    width: 4.4rem;
  }

  .reviews__slider-content_text {
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 0 0 3.2rem;
  }

  .reviews__slider-buttons {
    padding-bottom: 4rem;
    display: flex;
    gap: 0.8rem;
  }

  .footer__content-container {
    justify-content: center;
    gap: 1.6rem;
  }

  .footer__logo-container {
    padding-top: var(--delimiter-section);
    padding-bottom: var(--delimiter-section);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .footer__logo {
    max-width: 9.8rem;
    max-height: 1.9rem;
  }

  .footer__content-title {
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    text-decoration-line: underline;
  }

  .footer__content-list {
    display: none;
  }

  .footer__copy {
    text-align: center;
    padding-bottom: var(--delimiter-section);
    margin-top: 3.2rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}

@media screen and (max-width: 480px) {
  /*For mobile phones*/

  :root {
    --col-width: calc(100% / 6);
    --container-width: 91%;
    --delimiter-section: 4rem;
    --img-width: 15.5rem;
    --img-width-lg: 32.7rem;
  }

  .col-xs-1 {
    width: var(--col-width);
  }

  .col-xs-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-xs-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-xs-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-xs-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-xs-6 {
    width: calc(var(--col-width) * 6);
  }

  .container {
    width: var(--container-width);
    padding: 0;
  }

  .slider {
    grid-template-columns: repeat(2, var(--img-width));
  }

  .slider__content_item-3 {
    display: none;
  }

  .slider__content_item-4 {
    display: none;
  }

  .reviews__slider {
    grid-template-columns: 1fr;
  }

  .footer__logo-container {
    padding-top: var(--delimiter-section);
    padding-bottom: var(--delimiter-section);
  }
}
