$primary-color: #ff9300;

html {
  font-size: 10px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  padding: 0;
}

select {
  font-family: Roboto, sans-serif;
}
