.swiper-slide {
  height: auto;
}

.swiper-pagination-bullet {
  border-radius: 50%;
  border: 1px solid var(--text-color);
  background: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--text-color);
}

.swiper-pagination {
  display: none;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none;
}

//.reviews__slider-round-button-prev {
//  transform: translate(-75%, 0) rotate(180deg);
//}
//.reviews__slider-round-button-next {
//  overflow: visible;
//  left: calc(var(--container-width) - (var(--unit-sm)) * 2);
//}
//
//.hotels-preferred__slider-round-button-prev {
//  transform: translate(-50%, 25%) rotate(180deg);
//  left: 0;
//}
//.hotels-preferred__slider-round-button-next {
//  overflow: visible;
//  left: calc(var(--container-width) - (var(--unit-sm)) * 2);
//}

@media screen and (max-width: $breakpoint-sm) {
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
  .swiper-pagination {
    display: block;
  }
  .hotels-preferred__slider-round-button-next {
    overflow: visible;
    left: 100%;
  }
}
