@import url("./fonts.css");

:root {
  --primary-dark: #10367c;
  --primary-light: #3077c6;
  --accent-yellow: #f5bd41;
  --white: #ffffff;
  --text-color: #383838;
  --secondary-text: #bfbfbf;
  --regular: 400;
  --medium: 500;
  --col-width: calc(100% / 12);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.col-lg-1 {
  width: var(--col-width);
}

.col-lg-2 {
  width: calc(var(--col-width) * 2);
}

.col-lg-3 {
  width: 25%;
}

.col-lg-4 {
  width: calc(var(--col-width) * 4);
}

.col-lg-5 {
  width: calc(var(--col-width) * 5);
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: calc(var(--col-width) * 7);
}

.col-lg-8 {
  width: calc(var(--col-width) * 8);
}

.col-lg-9 {
  width: 75%;
}

.col-lg-10 {
  width: calc(var(--col-width) * 10);
}

.col-lg-11 {
  width: calc(var(--col-width) * 11);
}

.col-lg-12 {
  width: 100%;
}

.link {
  outline: none;
  text-decoration: none;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.site-title {
  font-weight: var(--medium);
  font-size: 40px;
  line-height: 47px;
  color: var(--text-color);
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 16px;
}

._flex-center {
  display: flex;
  justify-content: center;
}

._flex-between {
  display: flex;
  justify-content: space-between;
}

._bg-photo {
  background-image: url("../images/castelmezzano.png");
  background-size: cover;
  min-height: 100vh;
}

._bg-dark {
  width: 100%;
  background-color: var(--primary-dark);
}

.top-section__container {
  min-height: 100vh;
}

.header__container {
  height: 85px;
  align-items: center;
}

.header__logo {
  width: 205px;
  color: var(--primary-light);
}

.header__menu {
  width: 344px;
  font-weight: var(--regular);
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
}

.header__menu-link {
  height: 40px;
  max-width: 118px;
  padding-top: 2px;
  flex-direction: column;
  color: var(--white);
}

.header__menu-link:hover:after {
  display: block;
  width: 90%;
  min-width: 50px;
  content: "";
  position: relative;
  border-bottom: 4px solid var(--accent-yellow);
  margin: 10px auto 0;
}

.header__menu-icons {
  width: 94px;
  margin-left: 24px;
  align-items: center;
  color: var(--white);
}

.header__menu-icons_account {
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
}

.header__menu-icons_night-theme {
  max-width: 30px;
  max-height: 34px;
  cursor: pointer;
}

.header__menu-icons_menu {
  display: none;
}

.top-section__slogan {
  /*margin: 196px 0 104px;*/
  margin: 180px 0 144px;
  font-size: 50px;
  font-weight: var(--medium);
  line-height: 59px;
  color: var(--white);
}

.top-section__form-container {
  margin-bottom: 120px;
  padding: 0;
  height: 65px;
}

.top-section__form-fieldset {
  border: none;
  height: 100%;
  padding: 0;
}

.top-section__form {
  height: 100%;
  background-color: white;
  border-radius: 8px;
}

._top-section-form-grid {
  display: grid;
  grid-template-columns: 4.7fr 2.3fr 3fr 2fr;
  /*???*/
  grid-template-rows: auto;
}

.top-section__form-icon {
  color: var(--secondary-text);
  display: none;
  position: absolute;
  z-index: 1;
}

.top-section__form-item-group {
  display: flex;
  align-items: center;
  position: relative;
}

.top-section__form-item-group:nth-child(2) {
  border: 2px solid #f5bd41;
  border-radius: 4px;
}

.top-section__form-item-group:nth-child(3) > .top-section__form-item > ._select {
  text-align: left;
}

.top-section__form-item {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--white);
  border: none;
  border-radius: 4px;
}

.top-section__form-item-content {
  height: 100%;
  width: 100%;
  position: relative;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 0;
  background-color: var(--white);
  font-size: 18px;
  line-height: 21px;
  color: #383838;
}

/*.top-section__form-item-text {*/
/*  !*font-weight: var(--regular);*!*/
/*  !*font-size: 18px;*!*/
/*  !*line-height: 21px;*!*/
/*  !*color: #383838;*!*/
/*}*/

._input::-webkit-input-placeholder {
  color: var(--text-color);
}

._input-destination {
  padding-left: 24px;
}

._select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
}

._select-adults {
  padding-left: 8px;
}

._select-rooms {
  padding-left: 8px;
}

.top-section__form-label {
  position: absolute;
  z-index: 1;
  font-size: 18px;
  font-weight: var(--regular);
  line-height: 21px;
  color: var(--text-color);
}

._label-destination {
  bottom: 90px;
  left: 24px;
  color: var(--white);
}

._label-check-in {
  bottom: 90px;
  left: 8px;
  color: var(--white);
}

._label-check-in:after {
  content: "—";
  left: 4px;
  bottom: -1px;
}

._label-check-out {
  bottom: 90px;
  left: -28px;
  color: var(--white);
}

._label-adults {
  bottom: 23px;
  left: 23px;
}

._label-adults:after {
  content: "—";
  position: absolute;
  right: -18px;
}

._label-children {
  bottom: 23px;
  left: 15px;
}

._label-children:after {
  content: "—";
  position: absolute;
  right: -18px;
}

._label-rooms {
  bottom: 23px;
  left: 23px;
}

.top-section__form-button {
  background-color: #3077c6;
}

.top-section__form-button-text {
  color: white;
  font-size: 24px;
  line-height: 28px;
}

/*._text-left {*/
/*  text-align: left;*/
/*}*/

/*._select:focus + label {*/
/*  display: none;*/
/*}*/

.markets__container {
  width: 270px;
  margin-bottom: 120px;
}

.markets__item {
  cursor: pointer;
}

.markets__item_google-play {
  max-width: 135px;
  max-height: 40px;
}

.markets__item_app-store {
  max-width: 117px;
  max-height: 38px;
}

.features__container {
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.features__title-container {
  height: 70px;
  margin: 120px 0 80px;
  flex-wrap: wrap;
}

.features__title {
  text-align: center;
}
.features__title:after {
  content: "";
  display: block;
  height: 4px;
  position: relative;
  margin: 20px auto;
  background: var(--accent-yellow);
  transition: width 0.5s ease 0s, right 0.5s ease 0s;
  width: 0;
}

.features__title:hover:after {
  display: block;
  width: 100px;
  content: "";
}

.features__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.features__content-item {
  padding-left: 8px;
  padding-right: 8px;
  height: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.features__content-icon {
  max-width: 100px;
  max-height: 92px;
  color: var(--primary-light);
}

.features__content-icon_book {
  padding-top: 13px;
}

.features__content-icon_communicate {
  padding-top: 8px;
}

.features__content-text {
  font-weight: var(--regular);
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color);
  text-align: center;
}

.footer__logo-container {
  display: none;
}

.footer__logo {
  color: var(--white);
}

.footer__content-container {
  padding: 120px 120px 0 0;
}

.footer__content {
  font-size: 20px;
  font-weight: var(--regular);
  line-height: 23px;
  color: var(--white);
}

.footer__content-title {
  font-weight: var(--medium);
  padding: 0;
}

.footer__content-list {
  list-style: none;
  margin-top: 24px;
  padding: 0;
  font-weight: var(--regular);
  flex-wrap: wrap;
}

.footer__content-link {
  color: var(--white);
}

.footer__copy {
  margin-top: 64px;
  font-weight: var(--regular);
  font-size: 14px;
  line-height: 16px;
  padding: 0 0 120px 0;
  color: var(--white);
  flex-wrap: wrap;
}


@media screen and (max-width: 1024px) {
  /*For tablets*/
  :root {
    --col-width: calc(100% / 12);
  }

  .col-md-1 {
    width: var(--col-width);
  }

  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }

  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: calc(var(--col-width) * 10);
  }

  .col-md-11 {
    width: calc(var(--col-width) * 11);
  }

  .col-md-12 {
    width: 100%;
  }

  .header__container {
    max-height: 48px;
  }

  .header__logo {
    width: 122px;
    height: 24px;
  }

  .header__menu {
    max-width: 118px;
  }

  .header__menu-link {
    display: none;
  }

  .header__menu-icons_account {
    max-width: 24px;
    max-height: 24px;
  }

  .header__menu-icons_night-theme {
    max-width: 16px;
    max-height: 16px;
  }

  .header__menu-icons_menu {
    display: flex;
    align-items: center;
    max-width: 24px ;
  }

  .top-section__slogan {
    font-size: 38px;
    line-height: 35px;
    margin: 52px 0 30px;
  }

  .top-section__form-container {
    margin-bottom: 20px;
    height: auto;
  }

  .top-section__form-fieldset {
    background-color: var(--accent-yellow);
    border: 2px solid var(--accent-yellow);
  }

  .top-section__form {
    background-color: var(--accent-yellow);
  }

  ._top-section-form-grid {
    grid-template-columns: auto;
  }

  .top-section__form-icon {
    width: 16px;
    height: 16px;
    display: block;
    bottom: 14px;
    left: 12px;
  }

  .top-section__form-item-group:nth-child(2) {
    border: none;
  }

  .top-section__form-item {
    height: 48px;
    border: 4px solid var(--accent-yellow);
    border-radius: 8px;
  }

  .top-section__form-item-content {
    padding: 0 0 6px 10px;
    display: flex;
    align-items: flex-end;
    text-align: left;
    font-weight: var(--medium);
    font-size: 15px;
    line-height: 18px;
  }

  ._blank {display: none;}

  ._form-item-adults {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  ._form-item-children {
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 4px 0;
  }

  ._form-item-rooms {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  ._input::-webkit-input-placeholder {
    color: transparent;
  }

  ._select-children {
    border-left: 1px solid #BFBFBF;
    border-right: 1px solid #BFBFBF;
    border-radius: 0;
    padding-bottom: 2px;
  }

  .top-section__form-label {
    font-size: 12px;
    line-height: 15px;
  }

  .top-section__form-button-text {
    font-size: 19px;
    font-weight: 500;
    /*font-weight: bold;*/
    line-height: 22px;
  }

  ._label-destination {
    font-size: 15px;
    line-height: 18px;
    font-weight: var(--medium);
    color: var(--text-color);
    bottom: 12px;
    left: 36px;
  }

  /*input:focus + label {     does not work*/
  /*  display: none;*/
  /*}*/

  ._label-check-in {
    bottom: 24px;
    left: 12px;
    color: var(--text-color);
  }

  ._label-check-in:after {
    display: none;
  }

  ._label-check-out {
    bottom: 24px;
    left: 12px;
    color: var(--text-color);
  }

  ._label-adults {
    bottom: 24px;
    left: 12px;
  }

  ._label-adults:after {
    display: none;
  }

  ._label-children {
    bottom: 24px;
    left: 12px;
  }

  ._label-children:after {
   display: none;
  }

  ._label-rooms {
    bottom: 24px;
    left: 12px;
  }

  .top-section__form-button-text {
    font-size: 24px;
    line-height: 28px;
    font-weight: var(--medium);
  }

  .markets__container {
    margin-bottom: 40px;
  }

  .site-title {
    font-size: 36px;
  }

  .features__container {
    margin-bottom: 60px;
  }

  .features__title-container {
    margin: 40px 0;
  }

  .features__title:after {
    display: none;
    margin: 0;
  }

  .features__title:hover:after {
    display: none;
    margin: 0;
  }

  .features__content-item {
    height: 150px;
    margin-bottom: 40px;
    padding: 0;
  }

  .features__content-icon {
    max-height: 80px;
  }

  .features__content-text {
    font-size: 22px;
  }

  .footer__content-container {
    padding: 0;
  }

  .footer__logo-container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .footer__logo {
    max-width: 98px;
    max-height: 19px;
  }

  .footer__content-title {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-decoration-line: underline;
  }

  .footer__content-list {
    display: none;
  }

  .footer__copy {
    text-align: center;
    padding-bottom: 40px;
    margin-top: 32px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 480px) {
  /*For mobile phones*/

  :root {
    --col-width: calc(100% / 6);
  }

  .col-xs-1 {
    width: var(--col-width);
  }

  .col-xs-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-xs-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-xs-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-xs-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-xs-6 {
    width: calc(var(--col-width) * 6);
  }

  .header__container {
    max-height: 48px;
  }

  .header__logo {
    width: 122px;
    height: 24px;
  }

  .header__menu {
    max-width: 118px;
  }

  .header__menu-link {
    display: none;
  }

  .header__menu-icons_night-theme {
    max-width: 16px;
    max-height: 16px;
  }

  .header__menu-icons_account {
    max-width: 24px;
    max-height: 24px;
  }

  .header__menu-icons_menu {
    display: flex;
    align-items: center;
    max-width: 24px ;}

  .top-section__slogan {
    font-size: 30px;
    line-height: 35px;
    /*margin: 52px 0 30px;*/
  }

  .markets__container {
    /*margin-bottom: 40px;*/
  }

  .features__container {
    margin-bottom: 40px;
  }

  .features__title-container {
    height: auto;
    margin: 24px 0 32px;
  }

  .features__title {
    margin-top: 24px;
    margin-bottom: 36px;
    font-size: 28px;
    line-height: 33px;
  }

  .features__title:after {
    display: none;
    margin: 0;
  }

  .features__title:hover:after {
    display: none;
  }

  .features__content {
    flex-direction: column;
    align-content: center;
    margin: 0;
  }

  .features__content-item {
    height: 104px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .features__content-item:last-child {
    margin-bottom: 0;
  }

  .features__content-icon {
    max-width: 70px;
    width: 100%;
    aspect-ratio: 1/1;
    max-height: 64px;
    padding: 0;
  }

  .features__content-text {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }

  .footer__content-container {
    padding: 0;
  }

  .footer__logo-container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__logo {
    max-width: 98px;
    max-height: 19px;
  }

  .footer__content-container {
    justify-content: center;
  }

  .footer__content-title {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-decoration-line: underline;
  }

  .footer__content-list {
    display: none;
  }

  .footer__copy {
    text-align: center;
    padding-bottom: 40px;
    margin-top: 32px;
    font-size: 12px;
    line-height: 14px;
  }
}
