@import url("./fonts.css");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.base-container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.underline {
  width: 50px;
}

.divide {
  width: 100px;
  margin: 0 auto 80px;
}

.line {
  border: none;
  background-color: #f5bd41;
  height: 4px;
}

.top-section-bg {
  width: 100%;
  background-image: url("../images/castelmezzano.png");
  background-size: cover;
  position: relative;
}

.top-section {
  min-height: 100vh;
  color: #ffffff;
}

.header {
  height: 100px;
  padding: 0 104px 0;
  align-items: flex-end;
}

.logo {
  height: 58px;
}

.header-options {
  width: 200px;
  margin-right: 48px;
  padding-top: 12px;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.header-option {
  height: 40px;
  flex-direction: column;
  align-items: center;
}

.header-icons {
  width: 94px;
  margin-left: 24px;
  align-items: center;
}

.opt {
  width: 342px;
  display: flex;
}

.icons {
  width: 94px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account {
  max-width: 40px;
  max-height: 40px;
}

.night {
  max-width: 30px;
  max-height: 30px;
}

.slogan {
  margin: 190px 104px 104px;
  font-size: 50px;
  font-weight: 500;
  line-height: 59px;
}

.search-titles {
  max-width: 640px;
  margin-left: 128px;
  margin-right: 672px;
  gap: 221px;
}

.search-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.search-line {
  height: 64px;
  margin: 15px 104px 120px;
  display: flex;
  align-items: flex-end;
  background-color: #ffffff;
  border-radius: 8px;
}

.search-category {
  height: 64px;
  padding: 18px 0 19px 28px;
  display: flex;
  align-items: flex-end;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
}

.destination {
  width: 467px;
}

.check-in {
  width: 261px;
  padding: 0 0 15px 22px;
  border: 3px solid #f5bd41;
  border-radius: 8px;
}

.rooms {
  width: 314px;
}

.button {
  width: 192px;
  height: 64px;
  background-color: #3077c6;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.button:hover {
  background-color: #10367c;
}

.market {
  width: 270px;
  margin-bottom: 120px;
}

.google-play {
  max-width: 135px;
  max-height: 40px;
}

.app-store {
  max-width: 117px;
  max-height: 38px;
}

.title {
  padding: 120px 0 20px;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
}

.container-advantages {
  height: 570px;
}

.content-advantages {
  padding: 0 104px;
}

.advantage {
  width: 296px;
  height: 176px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-images {
  height: 100px;
  margin: 0 auto 48px;
  align-items: center;
}

.advantages-icon {
  max-width: 100px;
  max-height: 92px;
}

.book {
  padding-top: 13px;
}

.communicate {
  padding-top: 8px;
}

.advantages-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #383838;
}

.footer {
  height: 625px;
  margin: 0 auto;
  padding: 120px 270px 0 104px;
}

.footer-bg {
  width: 100%;
  background-color: #10367c;
}

.footer-container {
  margin-bottom: 62px;
  height: 305px;
}

.footer-content {
  color: #ffffff;
  font-size: 20px;
  width: 234px;
}

.footer-title {
  font-weight: 500;
  line-height: 23px;
  padding: 0;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin-top: 24px;
  font-weight: 400;
  line-height: 23px;
}

.copy {
  width: 253px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
