@import url("./fonts.css");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

._flex-center {
  display: flex;
  justify-content: center;
}

._flex-between {
  display: flex;
  justify-content: space-between;
}

.header-content__line {
  width: 50px;
}

.features__line {
  width: 100px;
  margin: 0 auto 80px;
}

._yellow-line {
  border: none;
  background-color: #f5bd41;
  height: 4px;
}

._bg-photo {
  background-image: url("../images/castelmezzano.png");
  background-size: cover;
  position: relative;
}

.top-section {
  min-height: 100vh;
}

.header {
  height: 100px;
}

.header__container {
  padding: 0 104px 0;
  align-items: flex-end;
}

.header__logo {
  height: 70px;
  width: 205px;
}

.header__content {
  width: 342px;
  display: flex;
}

.header__content-container {
  width: 200px;
  margin-right: 48px;
  padding-top: 12px;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.header-content__item {
  height: 40px;
  flex-direction: column;
  align-items: center;
}

.header-content__icons {
  width: 94px;
  height: 78px;
  align-items: center;
}

.header-icons__account {
  max-width: 40px;
  max-height: 40px;
}

.header-icons__night-theme {
  max-width: 30px;
  max-height: 30px;
}

.top-section__slogan {
  margin: 190px 104px 104px;
  font-size: 50px;
  font-weight: 500;
  line-height: 59px;
}

.top-section__search-form {
  max-width: 640px;
  margin-left: 128px;
  margin-right: 672px;
  gap: 221px;
}

.search-form__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.search-form__search-line {
  height: 64px;
  margin: 15px 104px 120px;
  display: flex;
  align-items: flex-end;
  background-color: #ffffff;
  border-radius: 8px;
}

.search-line__item {
  height: 64px;
  padding: 18px 0 19px 28px;
  display: flex;
  align-items: flex-end;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
}

.destination {
  width: 467px;
}

.check-in {
  width: 261px;
  padding: 0 0 15px 22px;
  border: 3px solid #f5bd41;
  border-radius: 8px;
}

.rooms {
  width: 314px;
}

.button {
  width: 192px;
  height: 64px;
  background-color: #3077c6;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.button:hover {
  background-color: #10367c;
}

.markets__items {
  width: 270px;
  margin-bottom: 120px;
}

.markets-item__google-play {
  max-width: 135px;
  max-height: 40px;
}

.markets-item__app-store {
  max-width: 117px;
  max-height: 38px;
}

.site-title {
  padding: 120px 0 20px;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
}

.features {
  height: 570px;
}

.features__content {
  padding: 0 104px;
}

.features-content__item {
  width: 296px;
  height: 176px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.features-content__icon {
  max-width: 100px;
  max-height: 92px;
}

.book {
  padding-top: 13px;
}

.communicate {
  padding-top: 8px;
}

.features-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #383838;
}

.footer {
  height: 625px;
}

._bg-blue {
  width: 100%;
  background-color: #10367c;
}

.footer__container {
  margin-bottom: 64px;
  padding: 120px 270px 0 104px;
}

.footer__content {
  width: 234px;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-content__title {
  font-weight: 500;
  line-height: 23px;
  padding: 0;
}

.footer-content__list {
  list-style: none;
  margin-top: 24px;
  padding: 0;
  font-weight: 400;
  line-height: 23px;
}

.footer-content__copy {
  width: 253px;
  margin-top: 158px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
