.top-section {
  &__markets {
    display: flex;
    justify-content: center;
    gap: var(--unit-sm);
    padding-bottom: var(--delimiter-section);
  }
}
.markets__item-icon {
  cursor: pointer;
  &_google-play {
    width: 13.5rem;
    max-height: 4rem;
  }
  &_app-store {
    width: 11.7rem;
    aspect-ratio: 3/1;
  }
}

@include mobile-sm {
  .top-section {
    &__markets {
      padding-bottom: var(--delimiter-section);
    }
  }
}
